@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h4>Add a new cuisine </h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Category)
  @Html.TextBoxFor(model => model.Category)
  <input type="submit" value="Add new cuisine category" />
}
<p>@Html.ActionLink("Show all cuisine categories", "Index")</p>