@{
  Layout = "_Layout";
}

@model ProjectName.Models.ClassName1

<h4>Add a new ____ </h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.PropertyName)
  @Html.TextBoxFor(model => model.PropertyName)
  <input type="submit" value="Add new PropertyName" />
}
<p>@Html.ActionLink("Show all PropertyName", "Index")</p>